[submodule "public"]
	path = public
	url = git@github.com:wsmelton/wsmelton.github.io.git
	branch = master
[submodule "themes/minimal-bootstrap-hugo-theme"]
	path = themes/minimal-bootstrap-hugo-theme
	url = git@github.com:zwbetz-gh/minimal-bootstrap-hugo-theme.git
